<!-- Comienzo Seccion Three Cetificaciones -->
    
<section>
  
    <div class="certificado">      
      
   <h3  class="text-center">CAPACITACIONES</h3>
  
      <div class="container" >
       
        
        <div class="row">
          
          <div class="col-md-12">
            
  
        
            <div id="mdb-lightbox-ui"></div>
  
            <div class="mdb-lightbox">
              <figure class="col-md-3 col-md-4 col-sm-6 col-xs-12">
                <a class="animate__animated animate__pulse" href="http://imgfz.com/i/Baf9Vli.jpeg" >
                  <img   alt="picture" src="images/salcedo.jpg" class="img-fluid" />
                </a>
              </figure>
        
              <figure class="col-md-3 col-md-4 col-sm-6 col-xs-12">
                <a href="http://imgfz.com/i/WcInsNS.jpeg" >
                  <img alt="picture" src="images/salcedoScrum.jpg" class="img-fluid" />
                </a>
              </figure>
        
              <figure class="col-md-3 col-md-4 col-sm-6 col-xs-12">
                <a href="http://imgfz.com/i/uLQkCtF.jpeg" data-size="1600x1067">
                  <img alt="picture" src="images/certificadoYpf.jpg" class="img-fluid" />
                </a>
              </figure>
        
              <figure   class="col-md-3 col-md-4 col-sm-6 col-xs-12">
                <a href="http://imgfz.com/i/9QadBki.jpeg" data-size="1600x1067">
                  <img   alt="picture" src="images/CertificadoPhpInicial1.jpg" class="img-fluid"  />
                </a>
              </figure>
  
              <figure class="col-md-3 col-md-4 col-sm-6 col-xs-12">
                <a href="http://imgfz.com/i/WcInsNS.jpeg" data-size="1600x1067">
                  <img alt="picture" src="images/certificadoCodigoF.jpg" class="img-fluid" />
                </a>
              </figure>
  
              <figure class="col-md-3 col-md-4 col-sm-6 col-xs-12">
                <a href="http://imgfz.com/i/WcInsNS.jpeg" data-size="1600x1067">
                  <img alt="picture" src="images/certificadoJsCodigoF.jpg" class="img-fluid" />
                </a>
              </figure>
            </div>
        
          </div>
        </div>
  
        </div>
    </div> 
      
  
  </section>
