<section class="curriculum">
    <h3  class="text-center">MI CURRICULUM</h3>
  
    <div class="logos">
      <div class="vercurriculum"> 
        <a href="https://i.ibb.co/0qncjYZ/Franco-salcedo-Cv-page-0001.jpg"><i class="fas fa-id-card fa-5x"></i></a>
        <b><p>Ver curriculum</p></b>
      </div>
      <div class="descargar"> 
        <a href="https://www.pdfhost.net/index.php?Action=DownloadFile&id=c6883983323b65e3902f9c7dab1a6984"><i class="fas fa-download fa-5x"></i> </a> 
        <b><p>Descargar curriculum PDF</p></b> 
      </div>
  </div>
  
  </section>