<footer id="contacto">
      

    <section class="redes-sociales">
                 <h3 class="animate__animated animate__bounceInLeft animate__delay0.5s"  class="text-center">CONTACTO</h3>

                 <div class="contact-section">
                    
                    <form class="contact-form">
                        <input type="text" id="subject" class="contact-form-text" placeholder="Nombre:" required> 
                        <input type="email" id="email" class="contact-form-text" placeholder="Email:" required> 
                        <textarea name="text" id="text" class="contact-form-text" placeholder="Si quiere, desde acá me puede enviar un correo:" required></textarea>
                        <div class="dosBotones">
                            <div class="inputBorrar"><input class="btn btn-outline-danger" type="reset" value="Limpiar Formulario"></div>
                            <div class="inputEnviar"><input class="btn btn-outline-success" type="submit" value="Enviar" hizoClic() ></div>
                            
                        </div>
                </form>

                    
                </div>
                <hr style="color: yellow;">

       <div class="contenedor">

         <a  href="https://www.linkedin.com/in/francosalcedodev/" class="linkedin" target="_blank"><i class="fab fa-linkedin"  ></i></a>
         <a href="https://github.com/salcedofranco/" class="github"target="_blank"><i class="fab fa-github"  ></i></a>
         <a  href="https://wa.me/5402616590084" class="whatapps" target="_blank"><i class="fab fa-whatsapp"  ></i></a>
      </div>
           
     </section>

      <div class="fin"><p>Portfolio personal hecho por Franco Salcedo.</p> </div>


  </footer>