<section>
  
    <div class="proyectoP" id="project">      
      
   <h3  class="text-center">PROYECTOS Y PRACTICAS</h3>
  
      <div class="container" >
        
        <div class="row">
          <div class="col-md-12">
        
            <div id="mdb-lightbox-ui"></div>
  
            <div class="box-projects">
              <figure class="col-md-3 col-md-4 col-sm-6 col-xs-12">
                  <img  alt="picture" src="images/imagenAgencia.jpg" class="img-fluid">
                <div class="content">
                  <b><p class="bold">AGENCIA DE VIAJES</p></b> 
                  <p class="descripcion" style="font-size:0.9em;">Node, express, pug, sequelize, mysql , heroku.</p>
                  <a href="https://agencia-de-viajes-node.herokuapp.com/" class="btn btn-outline-success" >Ver Proyecto</a>
                </div>
              </figure>
        
              <figure class="col-md-3 col-md-4 col-sm-6 col-xs-12">
                  <img alt="picture" src="images/imagenMovies1.jpg" class="img-fluid">
                <div class="content">
                  <b><p class="bold">APP INFO DE PELICULAS</p></b> 
                  <p class="descripcion" style="font-size:0.9em;">Node, express, Api: The movie DB</p>
                  <a href="https://tutorial-search-movies.herokuapp.com/" class="btn btn-outline-success" >Ver Proyecto</a>
                </div>
              </figure>
        
              <figure class="col-md-3 col-md-4 col-sm-6 col-xs-12">
                  <img alt="picture" src="images/imagenLabarra.jpg" class="img-fluid">
                <div class="content">
                  <b><p class="bold">WEB LA BARRA</p></b> 
                  <p class="descripcion" style="font-size:0.9em;">Html, css, bootstrap y javascript</p>
                  <a href="https://labarramendoza.netlify.app/" class="btn btn-outline-success" >Ver Proyecto</a>
                </div>
              </figure>
        
              <figure class="col-md-3 col-md-4 col-sm-6 col-xs-12">
                  <img alt="picture" src="images/crudFutbol.jpg" class="img-fluid">
                <div class="content">
                  <b><p class="bold">CRUD</p></b> 
                  <p class="descripcion" style="font-size:0.9em;">Node, express, ejs y mongodb.</p>
                  <a href="https://crud-futbol.herokuapp.com/" class="btn btn-outline-success" >Ver Proyecto</a>
                </div>
              </figure>
  
              <figure class="col-md-3 col-md-4 col-sm-6 col-xs-12">
                  <img alt="picture" src="images/imagenWebBlog.jpg" class="img-fluid">
                <div class="content">
                  <b><p class="bold">WEB - BLOG</p></b> 
                  <p class="descripcion" style="font-size:0.9em;">Node, express y handlebars</p>
                  <a href="https://proyecto-web-blog.herokuapp.com/index" class="btn btn-outline-success" >Ver Proyecto</a>
                </div>
              </figure>
  
              <figure class="col-md-3 col-md-4 col-sm-6 col-xs-12">
                  <img alt="picture" src="images/imagenNode.jpg" class="img-fluid">
                <div class="content">
                  <b><p class="bold">BUSCADOR DE BARES</p></b> 
                  <p class="descripcion" style="font-size:0.9em;">Node, express y handlebars</p>
                  <a href="https://proyectonodejs-primermuestra.herokuapp.com/" class="btn btn-outline-success" >Ver Proyecto</a>
                </div>
              </figure>
            </div>
        
          </div>
        </div>
  
        </div>
    </div> 
      
  
  </section>